<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-marque-heading" data-cy="MarqueCreateUpdateHeading">Create or edit a Marque</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomMarque">Nom Marque</label>
          <input type="text" class="form-control" name="nomMarque" id="field_nomMarque" data-cy="nomMarque" formControlName="nomMarque" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_logo">Logo</label>
          <div>
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <a class="pull-start" (click)="openFile(editForm.get('logo')!.value, editForm.get('logoContentType')!.value)">open</a><br />
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ logo: null }); editForm.patchValue({ logoContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', false)" />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
