<div>
  <h2 id="page-heading" data-cy="CommandeClientHeading">
    <span>Commande Clients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commande-client"
        [routerLink]="['/commande-client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Commande Client </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commandeClients?.length === 0">
    <span>No commandeClients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandeClients && commandeClients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateCom"><span>Date Com</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="designation"><span>Designation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="client.id"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commandeClient of commandeClients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commande-client', commandeClient.id, 'view']">{{ commandeClient.id }}</a>
          </td>
          <td>{{ commandeClient.dateCom | formatMediumDate }}</td>
          <td>{{ commandeClient.designation }}</td>
          <td>
            <div *ngIf="commandeClient.client">
              <a [routerLink]="['/client', commandeClient.client?.id, 'view']">{{ commandeClient.client?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commande-client', commandeClient.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commande-client', commandeClient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(commandeClient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commandeClients && commandeClients.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
