<div>
  <h2 id="page-heading" data-cy="EmployeHeading">
    <span>Employes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employe"
        [routerLink]="['/employe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Employe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="employes?.length === 0">
    <span>No employes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="employes && employes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom"><span>Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telephone"><span>Telephone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adresse"><span>Adresse</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="age"><span>Age</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="photo"><span>Photo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="poste"><span>Poste</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="salaire"><span>Salaire</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateEmbauche"><span>Date Embauche</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="location.id"><span>Location</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="magzin.id"><span>Magzin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employe of employes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employe', employe.id, 'view']">{{ employe.id }}</a>
          </td>
          <td>{{ employe.nom }}</td>
          <td>{{ employe.prenom }}</td>
          <td>{{ employe.telephone }}</td>
          <td>{{ employe.email }}</td>
          <td>{{ employe.adresse }}</td>
          <td>{{ employe.age }}</td>
          <td>
            <a *ngIf="employe.photo" (click)="openFile(employe.photo, employe.photoContentType)">open</a>
            <span *ngIf="employe.photo">{{ employe.photoContentType }}, {{ byteSize(employe.photo) }}</span>
          </td>
          <td>{{ employe.poste }}</td>
          <td>{{ employe.salaire }}</td>
          <td>{{ employe.dateEmbauche | formatMediumDate }}</td>
          <td>
            <div *ngIf="employe.location">
              <a [routerLink]="['/location', employe.location?.id, 'view']">{{ employe.location?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="employe.magzin">
              <a [routerLink]="['/magazin', employe.magzin?.id, 'view']">{{ employe.magzin?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employe', employe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employe', employe.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(employe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employes && employes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
