<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="facture">
      <h2 data-cy="factureDetailsHeading"><span>Facture</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ facture.id }}</span>
        </dd>
        <dt><span>Id Facture</span></dt>
        <dd>
          <span>{{ facture.idFacture }}</span>
        </dd>
        <dt><span>Montant</span></dt>
        <dd>
          <span>{{ facture.montant }}</span>
        </dd>
        <dt><span>Arrivage</span></dt>
        <dd>
          <div *ngIf="facture.arrivage">
            <a [routerLink]="['/arrivage', facture.arrivage?.id, 'view']">{{ facture.arrivage?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/facture', facture.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
