<div>
  <h2 id="page-heading" data-cy="LocationHeading">
    <span>Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-location"
        [routerLink]="['/location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Location </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
    <span>No locations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="locations && locations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rueAddress"><span>Rue Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codePostal"><span>Code Postal</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ville"><span>Ville</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stateProvince"><span>State Province</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/location', location.id, 'view']">{{ location.id }}</a>
          </td>
          <td>{{ location.rueAddress }}</td>
          <td>{{ location.codePostal }}</td>
          <td>{{ location.ville }}</td>
          <td>{{ location.stateProvince }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/location', location.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/location', location.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(location)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="locations && locations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
