<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="categorie">
      <h2 data-cy="categorieDetailsHeading"><span>Categorie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ categorie.id }}</span>
        </dd>
        <dt><span>Nom Categorie</span></dt>
        <dd>
          <span>{{ categorie.nomCategorie }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ categorie.description }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="categorie.image">
            <a (click)="openFile(categorie.image, categorie.imageContentType)">open</a>
            {{ categorie.imageContentType }}, {{ byteSize(categorie.image) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/categorie', categorie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
