<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="marque">
      <h2 data-cy="marqueDetailsHeading"><span>Marque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ marque.id }}</span>
        </dd>
        <dt><span>Nom Marque</span></dt>
        <dd>
          <span>{{ marque.nomMarque }}</span>
        </dd>
        <dt><span>Logo</span></dt>
        <dd>
          <div *ngIf="marque.logo">
            <a (click)="openFile(marque.logo, marque.logoContentType)">open</a>
            {{ marque.logoContentType }}, {{ byteSize(marque.logo) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/marque', marque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
