<div>
  <h2 id="page-heading" data-cy="ProduitHeading">
    <span>Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit"
        [routerLink]="['/produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
    <span>No produits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="produits && produits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numProd"><span>Num Prod</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomProd"><span>Nom Prod</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prixVente"><span>Prix Vente</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="image"><span>Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="categorie.id"><span>Categorie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="marque.id"><span>Marque</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a>
          </td>
          <td>{{ produit.numProd }}</td>
          <td>{{ produit.nomProd }}</td>
          <td>{{ produit.status }}</td>
          <td>{{ produit.prixVente }}</td>
          <td>
            <a *ngIf="produit.image" (click)="openFile(produit.image, produit.imageContentType)">open</a>
            <span *ngIf="produit.image">{{ produit.imageContentType }}, {{ byteSize(produit.image) }}</span>
          </td>
          <td>
            <div *ngIf="produit.categorie">
              <a [routerLink]="['/categorie', produit.categorie?.id, 'view']">{{ produit.categorie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="produit.marque">
              <a [routerLink]="['/marque', produit.marque?.id, 'view']">{{ produit.marque?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="produits && produits.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
