<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="magazin">
      <h2 data-cy="magazinDetailsHeading"><span>Magazin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ magazin.id }}</span>
        </dd>
        <dt><span>Nom Magazin</span></dt>
        <dd>
          <span>{{ magazin.nomMagazin }}</span>
        </dd>
        <dt><span>Adresse Magazin</span></dt>
        <dd>
          <span>{{ magazin.adresseMagazin }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <div *ngIf="magazin.location">
            <a [routerLink]="['/location', magazin.location?.id, 'view']">{{ magazin.location?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/magazin', magazin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
