<div  class="row">

  <div  class="col-md-9" >
   <div id="allHome"> <div>
    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true">
       <h1 class="display-4"><span>Bienvenu ElectroYadane à votre disposition</span></h1>
        <div > <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Magazins  </button>
  <div  class="dropdown-menu dropdown-menu-right">
    <button *ngFor="let magazin of magazinList"  (click)="triParMagazin(magazin)" class="dropdown-item" type="button">{{magazin.nomMagazin}}</button>
   
  </div></div>
    
<div    class ="col-md-12">    <div>   <form id="search"  class="form-inline my-2 my-lg-0">
      <input (ngModelChange)="searchProduit(key.value)" #key="ngModel" ngModel
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Product..." required>
   </form> <p class="lead">Notre Store <i class="fas fa-store"></i></p>
    
   
   </div>
    </div>
        <span id="home-logged-message" *ngIf="account"></span>
      <div class="container" id="main-container">
      
<div class="row">
<div class ="col-md-3"><div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">


<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Catégories  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button *ngFor="let cat of categorieList"  (click)="ProductByCat(cat)" class="dropdown-item" type="button">{{cat.nomCategorie}}</button>
    
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Marque  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button  *ngFor="let marque of marqueList" (click)="ProductByMarque(marque)"  class="dropdown-item" type="button">{{marque.nomMarque}}</button>
    
  </div>
</div>
       


   
</div>
</div>
  <div *ngFor="let produit of produitsList" class="col-md-6 col-xl-3">
  
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
           </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{produit?.nomProd}}</h5>
            
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"> Prix : {{produit?.prixVente}} DHS</li>
           <li *ngIf="produit.status" class="list-group-item"> <span class="badge badge-pill badge-success">disponible</span>
 
                      <li *ngIf="!produit.status" class="list-group-item">    <span class="badge badge-pill badge-warning">rupture e stock</span>

</li>
           <li class="list-group-item">    <i class="fa fa-unsorted"></i>{{produit.categorie?.nomCategorie}}

</li>
                      <li class="list-group-item">  <i class="fa fa-tags"></i>
 {{produit.marque?.nomMarque}} </li>

        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
               <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'view']"
                class="btn btn-secondary btn-sm"
                data-cy="entityDetailsButton"
              >
           <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button><div class="form-outline"  style="width: 55px;">
                    <input id="form1" min="0" name="quantity" value="0" type="number" class="form-control" />
                  </div>
              <button *ngIf="!produit.status" type="button" disabled><i class="fa fa-cart-plus"></i></button>

              <a  *ngIf="produit.status" class="btn btn-light" data-placement="top" data-original-title="Delete"  ><i class="fa fa-cart-plus"></i>
 
</a>

            
           </div>
        </div>
     </div>
     
  </div>
  
  
</div>      

</div>

</div>

    
</div>
