<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paiement">
      <h2 data-cy="paiementDetailsHeading"><span>Paiement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ paiement.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ paiement.type }}</span>
        </dd>
        <dt><span>Avance</span></dt>
        <dd>
          <span>{{ paiement.avance }}</span>
        </dd>
        <dt><span>Etat</span></dt>
        <dd>
          <span>{{ paiement.etat }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
